<div onload="socialUrl('text.com');" class="conteiner-tipo addcolor">
        <div class="destaque">
            <div class="tipo-user">
                <div class="divs_user divs destaqueMargin">
                    <h5>Destaque do Site</h5>
                    <%= link_to 'Posto Miranda', "/app/maps" %>
                </div>
                <div class="divs_user destaqueMargin">
                    <h5>Destaque do Site</h5>
                    <%= link_to 'Posto Miranda', "/app/maps" %>
                </div>            
            </div>
        </div>
        <div class="area">
            <%= link_to 'Produtos da Empresa', edit_user_registration_path, class: 'btnAcesso' %>
            <%= link_to 'Editar Conta', edit_user_registration_path, class: 'btnAcesso' %>
            <%= link_to 'Dados da Empresa', edit_user_registration_path, class: 'btnAcesso' %>
            <%= link_to 'Sair', sign_out_path, class: 'btnAcesso' %>
            <p>Acesse nossas Mídias Sociais<p>
            <div class="canais">
                <img src="../facebook.png"/>
                <img src="../telegram.png"/>
                <img src="../whatsapp.png"/>
                <img src="../instagram.png"/>
            </div>
        </div>
 </div>
<div class="menu">
     <h4>MyDisel</h4>
     <div class="menu-itens">
     <a href="/">Inicio</a>
     <a href="/app/preco">Preços</a>
     <a href="/app/map">Mapas</a>
    <% if user_signed_in?%>
        <div class="user"><img src="../user.png"/><a href="/area/area_user"><%=current_user.email[0..8]%></a></div>
    <% else%>
        <div class="user"><img src="../user.png"/><a href="/app/acesso">Acesso</a></div>
    <% end%>
    </div>
 </div>  
